.font-fira-sans{
    font-family: "Fira Sans", serif;
     font-style: normal;
     font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
   
}
/* shared style  */
.primary-btn{
    background-color: rgb(0, 106, 80);
    padding: 15px;
    border-radius: 7px;
    border: none;
    margin-top: 30px;
    color: white;
    font-size: 18px ;

}
.secondary-btn{
    border-radius: 7px;
    border: none;
    color: white; 
    padding: 13px 16px;
    margin-top:10px ;
}
.hover{
    cursor: pointer;
    /* background-color: rgba(67, 198, 165, 0.49); */
    
}

.hover:hover {
    background-color: #29a84b57; /* inspiration by google */
  }
/* section-banner  */
#banner{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 90px;
    background-color: #C6E4D6;
    border-radius: 15px;
    margin: 30px auto;
}
#banner .banner-title{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    padding: 15px 0px;
}
#banner .banner-description{
   font-weight: bolder;
   font-size: 57px;
   margin-bottom: 24px;
   color: rgba(0, 0, 0, 0.841);

   
}
#banner .explore-btn{
    padding: 16px 25px;
}
/* section-banner closed */
/* Vision section  */
#vision{

    width: 80%;
    margin: 0px auto;
    padding: 40px 30px;
    /* align-items: center;
    text-align: center; */
    /* border: 1px solid black; */
    
}
#vision .vision-title{
    font-size: 40px;
    padding-bottom: 40px;
}
#vision .vision-description{
    font-size: 14px;
    color: rgba(14, 14, 14, 0.7);
    padding-bottom: 50px;

}
#vision .vision-container{
    display: flex;
    justify-content: space-between;
}
.vision-x{
    width: 400px;
    height:280px;
    padding: 30px;
    /* text-align: center; */
    /* border: 1px solid black; */
    border-radius: 15px;
}
.visionx-title{
    font-size: 20px;
    font-weight: 700px;
    color: rgba(14, 14, 14, 0.8);
    padding-bottom: 30px;
    padding-top: 20px;
}
.visionx-description{
    font-size: 16px;
    padding-bottom: 40px;
}
.btn-1{
    background-color: rgb(84, 144, 245);
    
}
.btn-2{
    background-color: rgb(9, 161, 92);
}
.btn-3{
    background-color: rgb(255, 194, 57);
}
.vision1{
    background-color: rgba(84, 144, 245, 0.2);
}
.vision2{
    background-color: rgb(198, 228, 214);
}
.vision3{
    background-color: rgb(247, 235, 207);
}
/* vision closed */
/* News section */
#news{
    width: 80%;
    margin: 0 auto;
    
}
#news .news-title{
    font-size: 40px;
    color: rgb(14, 14, 14);
    padding-bottom: 40px;
    padding-top: 30px;
}
#news .news-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    padding-bottom: 50px;
}

.news-x{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    background-color: rgba(243, 243, 243, 0.659);
    margin: 0px auto;
    border-radius: 17px;
    padding: 40px;
    margin-bottom: 40px;
    /* align-items: center; */
}
#news .news-heading{
    font-size: 32px;
    color: rgba(14, 14, 14, 0.8);
    padding-bottom: 16px;
}
#news .news-time{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    padding: 10px 0px;
}
#news .al-jazira{
    padding-bottom: 10px;
}
#news .news-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    padding-top: 13px;
}
#news .news-btn{
    
    
}
/* news section closed  */





